
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Override Bootstrap Variables
$font-size-base: 1rem; // Adjust as needed
$line-height-base: 1.5rem; // Adjust as needed
$nav-link-padding-y: 0.5rem; // Adjust to rem if it was in px
$input-line-height: 1.5rem; // Ensure it's in the same unit (e.g., rem)
$input-padding-y: 0.5rem; // Adjust to rem if it was in px

// Bootstrap
@import "~bootstrap/scss/bootstrap";
